* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

header {
    background-color: #f7b600;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #4e4e4e;
    font-size: 2.5rem;
    padding: 10px;
}

header h1 span {
    color: #ffffff;
}

nav {
    padding: 10px;
}

nav a {
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

nav a:link, a:visited {
    color: #ffffff;
}

nav a:hover {
    background-color: #ffffff;
    color: #f7b600;
}

section {
    margin: 0px auto;
    width: 920px;
}

article {
    float: left;
    width: 660px;
}

article div.posts {
    background-color: #ffffff;
    padding: 10px;
    margin: 15px 0px;
}

article div.posts h2 {
    color: #f7b600;
    font-weight: bold;
    margin-bottom: 5px;
}

article div.posts span {
    color: #4e4e4e;
    font-size: 0.8rem;
    font-style: italic;
}

article div.posts img {
    margin: 10px 0px;
}

article div.posts p {
    margin-bottom: 10px;
}

article div.posts a {
    color: #f7b600;
    font-weight: bold;
    text-decoration: none;
}

article div.posts a:hover {
    text-decoration: underline;
}

aside {
    float: right;
    width: 240px;
}

aside div.recent-posts {
    background-color: #ffffff;
    padding: 10px;
    margin: 15px 0px;
}

aside div.recent-posts h3 {
    background-color: #cccccc;
    color: #4e4e4e;
    padding: 5px;
    margin-bottom: 10px;
}

aside div.recent-posts p {
    font-size: 0.8rem;
    padding: 5px;
}

aside div.recent-posts a {
    color: #f7b600;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0px 5px;
    text-decoration: none;
}

aside div.recent-posts a:hover {
    text-decoration: underline;
}

aside div.recent-posts hr {
    margin: 10px 0px 5px 0px;
}

aside div.categories {
    background-color: #ffffff;
    padding: 10px;
    margin: 15px 0px;
}

aside div.categories h3 {
    background-color: #cccccc;
    color: #4e4e4e;
    padding: 5px;
    margin-bottom: 10px;
}

aside div.categories ul {
    list-style: none;
}

aside div.categories li {
    padding: 1.5px 0px;
}

aside div.categories a {
    color: #f7b600;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0px 5px;
    text-decoration: none;
}

aside div.categories a:hover {
    text-decoration: underline;
}

footer {
    background-color: #cccccc;
    clear: both;
    margin: 0px auto;
    padding: 25px;
    text-align: center;
}