body {
    background: #d2d2c1 url(../img/fundo.png);
    background-repeat: repeat;
    background-attachment: fixed;
    font-size: 16px;
    margin: 0px auto;
    width: 900px;
}

.nav {
    background-color: #b3b3b3;
    padding: 25px;
}

.nav > span {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav > span > a {
    color: #2f4f4f;
    text-decoration: none;
}

.nav > span > a.active {
    color: #000000;
    text-decoration: underline;
}

.nav > span > a:hover {
    color: #4d5e5e;
    text-decoration: underline;
}

.text {
    background-color: #ffffff;
    padding-bottom: 30px;
}

.text > h1 {
    color: #b3b3b3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 25px;
}

.text > p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0px 25px;
}

.text > img {
    display: block;
    margin: 0px auto;
    border: solid 5px #4d5e5e;
    border-radius: 5px;
}

.footer {
    text-align: center;
}